<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin> 
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.fh_zwickau.asmplugin.editor.ASMEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="asm"
            icon="icons/16/asm.gif"
            id="ASMPlugin.editor1"
            name="%editor.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.fh_zwickau.asmplugin.ui.PreferencesGeneral"
            id="de.fh_zwickau.asmplugin.preferences.general"
            name="%preferences.general.name"/>
      <page
            category="de.fh_zwickau.asmplugin.preferences.general"
            class="de.fh_zwickau.asmplugin.ui.PreferencesCompiler"
            id="de.fh_zwickau.asmplugin.preferences.compiler"
            name="%preferences.compiler.name"/>
      <page
            category="de.fh_zwickau.asmplugin.preferences.general"
            class="de.fh_zwickau.asmplugin.ui.PreferencesLinker"
            id="de.fh_zwickau.asmplugin.preferences.linker"
            name="%preferences.linker.name"/>
      <page
            category="de.fh_zwickau.asmplugin.preferences.general"
            class="de.fh_zwickau.asmplugin.ui.PreferencesDebugger"
            id="de.fh_zwickau.asmplugin.preferences.debugger"
            name="%preferences.debugger.name"/>
	   <page
            category="de.fh_zwickau.asmplugin.preferences.general"
            class="de.fh_zwickau.asmplugin.ui.PreferencesTemplates"
            id="de.fh_zwickau.asmplugin.preferences.templates"
            name="%preferences.templates.name"/>
   </extension>
   <extension
         id="nature"
         name="ASM Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="de.fh_zwickau.asmplugin.ASMNature"/>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/8/asm.gif"
            id="de.fh_zwickau.asmplugin.nature.image"
            natureId="de.fh_zwickau.asmplugin.nature"/>
   </extension>
   <extension
         id="builder"
         name="ASM Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="false"
            isConfigurable="false">
         <run class="de.fh_zwickau.asmplugin.ASMBuilder"/>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="de.fh_zwickau.asmplugin.new.category"
            class="de.fh_zwickau.asmplugin.ui.WizardNewProject"
            hasPages="true"
            icon="icons/16/new_asm_project.gif"
            id="de.fh_zwickau.asmplugin.new.project"
            name="%new.project.name"
            project="true">
         <description>
            %new.project.description
         </description>
      </wizard>
      <wizard
            canFinishEarly="true"
            category="de.fh_zwickau.asmplugin.new.category"
            class="de.fh_zwickau.asmplugin.ui.WizardNewFile"
            hasPages="true"
            icon="icons/16/new_asm_file.gif"
            id="de.fh_zwickau.asmplugin.new.file"
            name="%new.file.name"
            project="false">
         <description>
            %new.file.description
         </description>
      </wizard>
      <category
            id="de.fh_zwickau.asmplugin.new.category"
            name="%new.category"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="de.fh_zwickau.asmplugin.actionSet.helper"
            label="%actionset.asmhelper"
            visible="true">
         <action
               class="de.fh_zwickau.asmplugin.ui.AsciiAction"
               disabledIcon="icons/16/ascii_on.gif"
               hoverIcon="icons/16/ascii_on.gif"
               icon="icons/16/ascii_on.gif"
               id="de.fh_zwickau.asmplugin.ascii.wizard.RunWizardAction"
               label="%ascii.dialog.action.name"
               toolbarPath="toolbar.asm"
               tooltip="%ascii.dialog.action.tooltip" />
         <action
               class="de.fh_zwickau.asmplugin.ui.ConsoleAction"
               disabledIcon="icons/16/console_off.gif"
               hoverIcon="icons/16/console_on.gif"
               icon="icons/16/console_on.gif"
               id="de.fh_zwickau.asmplugin.console.wizard.RunWizardAction"
               label="%console.action.name"
               toolbarPath="toolbar.asm"
               tooltip="%console.action.tooltip"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="de.fh_zwickau.asmplugin.toggle.comment"
            name="%command.toggle.comment.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.fh_zwickau.asmplugin.toggle.comment"
            contextId="de.fh_zwickau.asmplugin.editorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+C"/>
      <key
            commandId="de.fh_zwickau.asmplugin.toggle.comment"
            contextId="de.fh_zwickau.asmplugin.editorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7"/>
      <key
            commandId="de.fh_zwickau.asmplugin.toggle.comment"
            contextId="de.fh_zwickau.asmplugin.editorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+/"/>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="de.fh_zwickau.asmplugin.editorScope"
            name="%context.scope"
            parentId="org.eclipse.ui.textEditorScope"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="de.fh_zwickau.asmplugin.launch.ASMLaunchShortcut"
            icon="icons/16/launch.gif"
            id="de.fh_zwickau.asmplugin.shortcut"
            label="%launcher.name"
            modes="run, debug">
         <contextualLaunch>
            <contextLabel
                  label="%launcher.run.name"
                  mode="run"/>
            <contextLabel
                  label="%launcher.debug.name"
                  mode="debug"/>
            <enablement>
               <with variable="selection">
                  <count value="1">
                  </count>
                  <iterate>
                     <or>
                        <test property="org.eclipse.debug.ui.matchesPattern" value="*"/>
                        <instanceof value="org.eclipse.core.resources.IFile"/>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="de.fh_zwickau.asmplugin.launch.ASMLauncher"
            id="de.fh_zwickau.asmplugin.launch"
            modes="run, debug"
            name="%launcher.config.name"
            public="true"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="de.fh_zwickau.asmplugin.launch.ASMLaunchTabGroup"
            id="de.fh_zwickau.asmplugin.launch.tabs"
            type="de.fh_zwickau.asmplugin.launch"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="de.fh_zwickau.asmplugin.launch"
            icon="icons/16/launch.gif"
            id="de.fh_zwickau.asmplugin.launch.image"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="doc/toc.xml"
            primary="true"/>
   </extension>
</plugin>
