body {
 background-color: #FFFFFF;
 margin-left: 20px;
 margin-right: 20px;
 margin-top: 20px;
 margin-bottom: 20px;
 font-size: 12px;
 font-family: arial,verdana,helvetica,sans-serif,times;
 color: #000000;
 text-decoration: none;
 font-weight: normal
}